.edit-profile{
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 35px 0;
  box-sizing: border-box;

}
.edit-profile__header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.edit-profile__header img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.edit-profile__avatar-container {
  width: 160px;
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
}
.edit-profile__title{
  font-size: 24px;
}
.form__row{
  display: flex;
margin-bottom: 20px;
align-items: center;
}

.form__row .form__name {
  width: 160px;
  display: block;
  text-align: right;
  margin-right: 35px;
  font-weight: 700;
}
.form__row input,
.form__row textarea,
.form__row select {
  padding: 10px;
  width: 35%;
  box-sizing: border-box;
  border: 0;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  resize: vertical;
  font-size: 14px;
}
.form__name{
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  width: 160px;
  display: block;
}
.form__outside-label {
  margin-left: 10px;
  display: block;
  width: 40%;
}
.form__row input[type="checkbox"] {
  width: auto;
}
.form__row input[type="submit"] {
  width: 100px;
  color: white;
  font-weight: 700;
  background-color: #3897f0;
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px 0;
}
.form__index{

}
